.navbarBrand {
  font-size: 2em;
  font-weight: 500;
  color: #222;
  letter-spacing: 5px;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.5s;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.navbarBrand:hover {
  color: #53768e;
  text-shadow: 0 0 5px #eceff1, 0 0 25px #53768e, 0 0 50px #eceff1,
    0 0 100px #53768e;
}

.navLink {
  border: 2px solid transparent;
  font-size: 1.5em;
  font-weight: 42000;
}
.navLink:hover {
  border-bottom: var(--borderBottom);
}
